- provide :hero_header, "User Name: #{@user.user_name}"
- provide :hero_sub do
  %p
    Below are the information Pittsburgh CONNECTS has for
    %span.label= "#{@user.full_name}."
    You may change the information by filling in and submitting the form below.

- provide :title, raw(@user.full_name)

= render 'shared/registration_form'
