- provide :title, "Administrative Panel - User Information | Pittsburgh CONNECTS"
- provide :page_header, 'Administrative Panel'
- provide :page_header_subtext, 'User Information'
= render 'layouts/page_header_and_flash'

= render 'shared/registration_form'
