= simple_fields_for address do |addr_form|
  .span5
    = addr_form.input :household_number,
      :collection => household_numbers[:list], 
      :label_method => household_numbers[:label],
      :label => "Number of People in Household"
  .span5
    = addr_form.input :household_income,
      :collection => household_incomes[:list],
      :label_method => household_incomes[:label], 
      :label => "Annual Household Income"
