- provide :title, "#{params[:controller].singularize.titleize} Information | Pittsburgh CONNECTS"
- provide :page_header, "Registration Form"
- provide :page_header_subtext, "#{params[:controller].singularize.titleize} Information"
