- provide :title, "Edit Event"
- provide :page_header, "Edit Event"
- provide :page_header_subtext, "Fill in the following information to allow your users register"

= render 'layouts/page_header_and_flash'

= render 'shared/event_form'

