- provide(:title, "Welcome")

.container
  .row
    .span5
      %a.btn.btn-large.btn-primary.span5{:href => register_path}
        %i.icon-user.icon-white
        %h1 Register Here!
    .span5.offset1
      %a.btn.btn-large.btn-success.span5{:href => sign_in_path}
        %i.icon-pencil.icon-white
        %h1 Sign In Here!
