- provide(:title, "Welcome")
%section.container
  %section.hero-unit
    %h1 Get CONNECTed!
    %p Welcome!
    %section
      = link_to "Register!", register_path, :class => "btn btn-primary btn-large"
      %a.btn.btn-danger{ :href => "#" }
        %i.icon-user.icon-white
        Administrators
