- provide(:title, "Welcome")

.container
  %ul.thumbnails
    %li
      .thumbnail
        %a.btn.btn-large.btn-primary{:href => register_path}
          %h2 First time visitors, welcome!
          %i.icon-user.icon-white
          %h1 Register Here!
    %li
      .thumbnail
        %a.btn.btn-large.btn-success{:href => sign_in_path}
          %h2 Return users, welcome back! 
          %i.icon-pencil.icon-white
          %h1 Sign In Here!
