- provide(:title, "Welcome")

.container
  .row
    .span12
      %a.btn{:href => register_path}
        %i.icon-user
        Register Here!
      %a.btn{:href => signin_path}
        %i.icon-pencil
        Sign In Here!
