// Ubuntu Web Font - Google Web Font API
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);

@import 'bootstrap';

body {
  padding-top: 50px;
}

@media (max-width: 960px) {
  #form_nav {
    position: static;
  }
}

@media (min-width: 960px) {
  #form_nav {
    position: fixed;
    width: 13%;
  }
}

.navbar {
  form {
    margin-bottom: 0;
  }

  .nav > li > a.btn {
    @extend .btn;
  }

  .nav > li > a.btn-inverse {
    @extend .btn-inverse;
  }

  .nav > li > a.btn-info {
    @extend .btn-info;
  }

  .nav > li > a.btn-primary {
    @extend .btn-primary;
  }
}

.brand img {
  height: 1em;
  vertical-align: bottom;
}

.table {
	th, td {
		vertical-align: top;
	}

  th.header {
    padding: {left: 10px; right: 10px; }
    cursor: pointer;
    
    .icon-chevron-down, .icon-chevron-up {
      display: none;
    }
  }

  th.headerSortUp {
    .icon-filter { display: none; }
    .icon-chevron-down { display: inline-block; }
  }

  th.headerSortDown {
    .icon-filter { display: none; }
    .icon-chevron-up { display: inline-block; }
  }

  input[id*="filter"] {
    margin: { bottom: 0; }
  }

  .btn-group .btn {
    a {
      &:link, &:visited, &:hover, &:active { color: white; }
      font-weight: bold;
    }
  }

  th:last-child, td:last-child {
    text-align: middle;
  }
}

@import "bootstrap-responsive";
