.container
  .hero-unit
    %ul.thumbnails
      %li.span5
        .thumbnail
          %h2 Sponsored by:
          = image_tag "BTOP.png"
      %li.span5
        .thumbnail
          %h2 Partnership with:
          = image_tag "NLA_logo.png"
